<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card">
    <div class="card-body">
        <h5 th:text="${username}">Chat Room Name</h5>
        <img th:if="${image}" th:src="@{${image}}" />
        <img th:unless="${image}" th:src="@{/images/default.jpeg}" />
    </div>

    <div class="col-md-4" th:each="friend : ${friends}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${friend.username}">Chat Room Name</h5>
                <img th:if="${friend.imageUrl}" th:src="@{${friend.imageUrl}}" />
                <img th:unless="${friend.imageUrl}" th:src="@{/images/default.jpeg}" />

            </div>
        </div>
    </div>
</div>
</body>
</html>